<% if (hangman.state === 'giveup') { %>
  <h3>弃权</h3>
<% } %>
<% if (hangman.state === 'win') { %>
  <h3>你赢了!</h3>
<% } else if(hangman.state === 'lose' || hangman.state === 'giveup') { %>
  <h3>你输了==</h3>
  <label>正确答案:</label>
  <span><%= hangman.protoWord %></span>
<% } else { %>
  <h4>你还有<%= hangman.hp %>次机会</h4>
<% } %>
<br/>
<% if (hangman.state !== 'init') { %>
  <label>猜词进度:</label>
  <span><%= currentWordStr %></span>
<% } %>
<br/>
<br/>
<label>请选择一个要猜的字母或连接符:</label>
<br/>
<% letters.forEach(function(letter){ %>
  <%- include('components/letter', { letter: letter, disabled: hangman.guessedLetters.includes(letter) || hangman.isFinished(), guessedStatus: hangman.letterStatus(letter)  })%>
<% }) %>
