<div class='nav-setting'>
  <div class='ui buttons'>
    <div class='ui floating dropdown button'>
      <i class='icon bars'></i>
      <div class='menu'>
        <% if (user) { %>
          <a class='item' href='/hangmen'>主页</a>
          <a class='item' href='/hangmen'>游戏记录</a>
          <a class='item' href='/hangmen'>挑战记录</a>
          <div class='divider'></div>
          <a class='item' href='/hangmen'>个人信息</a>
          <a class='item' href='/users/signout'>登出</a>
        <% } else { %>
          <a class='item' href='/users/signin'>登录</a>
          <a class='item' href='/users/new'>注册</a>
        <% } %>
      </div>
    </div>
  </div>
</div>
