<div class="nav">
  <div class="ui grid">
    <div class="seven wide column"></div>
    <div class="nine wide column">
      <a href="/hangmen"><h1><%= hangmanWeb.title %></h1></a>
      <p><%= hangmanWeb.description %></p>
    </div>
  </div>
</div>
