<div class="nav">
  <div class="ui grid">
    <div class="four wide column"></div>

    <div class="eight wide column">
      <a href="/hangmen"><h1><%= hangman.title %></h1></a>
      <p><%= hangman.description %></p>
    </div>
  </div>
</div>
