doctype html
html
  head
    meta(charset='utf-8')
    title #{hangmanWeb.title}
    link(rel='stylesheet', href='//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//cdn.bootcss.com/jquery/1.11.3/jquery.min.js')
    script(src='//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.js')
  body
    .container
      include components/nav.jade
      include components/nav-setting.jade
      include components/notification.jade
      .ui.grid
        .seven.wide.column
        .nine.wide.column
          block content
    script(type='text/javascript')
      $('.ui.dropdown').dropdown();
